/**
 * @name MateCord Dark
 * @author Bellotto#8880
 * @version 1.0.1
 * @description A simple, smooth and clean Discord theme based off Ubuntu MATE colors and other dark colors.
 * @source https://github.com/CaffeJappa/MateCord-Dark
 * @authorId 806685903200190544
*/

/* Base */
@import url("https://caffejappa.github.io/MateCord%20Dark/base.css");

:root {
    /* Font */
    --general-font: 'Ubuntu';
  
    /* TUSL */
    --separator-visibility: visible; /* DEFAULT: hidden; */
    
    /* User Region Pixels (Avatar, Name, Subtitle and Others) */ /* Use 6px and 3px respectively if you have problems. */
    --disw-1: 26px;
    --disw-2: 19px; 
}
